name: 'Build & test documentation'

on:
    push:
        branches:
            - master
            - '[0-9]+.[0-9]+'
            - IBX-5805
    pull_request: ~

jobs:
    build:

        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.8]

        steps:
            -   uses: actions/checkout@v2
            -   name: Set up Python ${{ matrix.python-version }}
                uses: actions/setup-python@v2
                with:
                    python-version: ${{ matrix.python-version }}
            -   name: Install dependencies
                run: |
                    python -m pip install --upgrade pip
                    if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
            -   name: Run build
                run: |
                    mkdocs build --strict
            # Do not run commit and push operation after this action
            # as this unpacks Vale.sh configs to local folder, replacing readme, license etc.
            -   name: Get Vale.sh configs
                env:
                    TOKEN: ${{ secrets.EZROBOT_PAT }}
                run: |
                    curl -H "Authorization: token $TOKEN" -L https://github.com/ibexa/vale-styles/archive/refs/heads/main.zip -o vale.zip
                    unzip vale.zip
                    rm vale.zip
                    mv vale-styles-main/* vale-styles-main/.vale.ini .
            -   name: Run Vale.sh
                uses: errata-ai/vale-action@reviewdog
